In [38]:
# Import the Pandas library
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Create a reference the CSV file desired
csv_path = "cleanData.csv"

# Read the CSV into a Pandas DataFrame
efp_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
efp_df.head()

,Country Name,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,...,Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,152,39,51.5,19.6,29.6,25.2,91.7,80.3,...,5.0,25.6,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,7.3
1,Albania,Europe,52,27,66.5,54.8,30.6,40.4,86.3,73.9,...,24.9,29.5,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,71.2
2,Algeria,Middle East and North Africa,171,14,46.2,31.6,36.2,28.9,76.4,48.7,...,24.5,41.4,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,25.8
3,Angola,Sub-Saharan Africa,156,33,50.6,35.9,26.6,20.5,83.9,80.7,...,20.6,25.3,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,65.3
4,Argentina,Americas,148,26,52.2,47.8,44.5,33.5,69.3,49.5,...,30.8,41.0,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,52.6

In [13]:
# Using .rename(columns={}) in order to rename columns
renamed_df = efp_df.rename(columns={
    "Country Name":"Country_Name",
    "World Rank":"World_Rank",
    "Region Rank":"Region_Name",
    "2019 Score":"Score2019",
    "Business Freedom":"Business_Freedom",
    "Labor Freedom":"Labor_Freedom",
    "Monetary Freedom":"Monetary_Freedom",
    "Trade Freedom":"Trade_Freedom",
    "Investment Freedom":"Investment_Freedom",
    "Financial Freedom":"Financial_Freedom"
})
renamed_df.head()

,Country_Name,Region,World_Rank,Region_Name,Score2019,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,Gov't Spending,...,Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,152,39,51.5,19.6,29.6,25.2,91.7,80.3,...,5.0,25.6,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,7.3
1,Albania,Europe,52,27,66.5,54.8,30.6,40.4,86.3,73.9,...,24.9,29.5,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,71.2
2,Algeria,Middle East and North Africa,171,14,46.2,31.6,36.2,28.9,76.4,48.7,...,24.5,41.4,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,25.8
3,Angola,Sub-Saharan Africa,156,33,50.6,35.9,26.6,20.5,83.9,80.7,...,20.6,25.3,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,65.3
4,Argentina,Americas,148,26,52.2,47.8,44.5,33.5,69.3,49.5,...,30.8,41.0,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,52.6

In [18]:
renamed_df.count()

Country_Name                   179
Region                         179
World_Rank                     179
Region_Name                    179
Score2019                      179
Property Rights                179
Judical Effectiveness          179
Government Integrity           179
Tax Burden                     179
Gov't Spending                 179
Fiscal Health                  179
Business_Freedom               179
Labor_Freedom                  179
Monetary_Freedom               179
Trade_Freedom                  179
Investment Freedom             179
Financial_Freedom              179
Tariff Rate (%)                179
Income Tax Rate (%)            179
Corporate Tax Rate (%)         179
Tax Burden % of GDP            179
Gov't Expenditure % of GDP     179
Population (Millions)          179
GDP (Billions, PPP)            179
GDP Growth Rate (%)            179
5 Year GDP Growth Rate (%)     179
GDP per Capita (PPP)           179
Unemployment (%)               178
Inflation (%)                  179
Public Debt (% of GDP)         179
dtype: int64

In [31]:
{renamed_df.columns.get_loc(c): c for idx, c in enumerate(renamed_df.columns)}

{0: 'Country_Name',
 1: 'Region',
 2: 'World_Rank',
 3: 'Region_Name',
 4: 'Score2019',
 5: 'Property Rights',
 6: 'Judical Effectiveness',
 7: 'Government Integrity',
 8: 'Tax Burden',
 9: "Gov't Spending",
 10: 'Fiscal Health',
 11: 'Business_Freedom',
 12: 'Labor_Freedom',
 13: 'Monetary_Freedom',
 14: 'Trade_Freedom',
 15: 'Investment Freedom ',
 16: 'Financial_Freedom',
 17: 'Tariff Rate (%)',
 18: 'Income Tax Rate (%)',
 19: 'Corporate Tax Rate (%)',
 20: 'Tax Burden % of GDP',
 21: "Gov't Expenditure % of GDP ",
 22: 'Population (Millions)',
 23: 'GDP (Billions, PPP)',
 24: 'GDP Growth Rate (%)',
 25: '5 Year GDP Growth Rate (%)',
 26: 'GDP per Capita (PPP)',
 27: 'Unemployment (%)',
 28: 'Inflation (%)',
 29: 'Public Debt (% of GDP)'}

In [41]:
freedoms_df=renamed_df.drop(renamed_df.columns[[5, 6, 7, 8, 9, 10, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]],axis=1)
freedoms_df.head()

,Country_Name,Region,World_Rank,Region_Name,Score2019,Business_Freedom,Labor_Freedom,Monetary_Freedom,Trade_Freedom,Investment Freedom,Financial_Freedom
0,Afghanistan,Asia-Pacific,152,39,51.5,49.2,60.4,76.7,66.0,10.0,10.0
1,Albania,Europe,52,27,66.5,69.3,52.7,81.5,87.8,70.0,70.0
2,Algeria,Middle East and North Africa,171,14,46.2,61.6,49.9,74.9,67.4,30.0,30.0
3,Angola,Sub-Saharan Africa,156,33,50.6,55.7,58.8,55.4,61.2,30.0,40.0
4,Argentina,Americas,148,26,52.2,56.4,46.9,60.2,70.0,55.0,60.0

In [43]:
freedoms_df.sort_values(['Region', 'Score2019'], ascending=[True, False])

,Country_Name,Region,World_Rank,Region_Name,Score2019,Business_Freedom,Labor_Freedom,Monetary_Freedom,Trade_Freedom,Investment Freedom,Financial_Freedom
29,Canada,Americas,8,1,77.7,81.9,73.7,77.2,86.8,80.0,80.0
171,United States,Americas,12,2,76.8,83.8,89.4,76.6,86.6,85.0,80.0
33,Chile,Americas,18,3,75.4,76.6,65.0,84.5,88.8,85.0,70.0
136,Saint Lucia,Americas,38,4,68.7,76.3,69.2,83.9,73.2,65.0,40.0
81,Jamaica,Americas,39,5,68.6,78.0,73.6,82.6,68.4,80.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...
46,Djibouti,Sub-Saharan Africa,169,43,47.1,54.7,60.4,72.7,50.4,80.0,50.0
52,Equatorial Guinea,Sub-Saharan Africa,174,44,41.0,37.6,32.7,83.7,48.8,40.0,30.0
178,Zimbabwe,Sub-Saharan Africa,175,45,40.4,33.4,43.3,72.4,70.0,25.0,10.0
38,"Congo, Republic of",Sub-Saharan Africa,176,46,39.7,38.2,35.8,82.6,56.8,45.0,30.0
53,Eritrea,Sub-Saharan Africa,177,47,38.9,17.7,70.0,61.0,69.2,0.0,20.0

In [46]:
freedoms_df = freedoms_df.sort_values(['Region'], ascending=True) \
    .groupby(['Region'], sort=False) \
    .apply(lambda x: x.sort_values(['Score2019'], ascending=True)) \
    .reset_index(drop=True)
freedoms_df

,Country_Name,Region,World_Rank,Region_Name,Score2019,Business_Freedom,Labor_Freedom,Monetary_Freedom,Trade_Freedom,Investment Freedom,Financial_Freedom
0,Venezuela,Americas,179,32,25.9,33.9,28.0,0.0,60.0,0.0,10.0
1,Cuba,Americas,178,31,27.8,20.0,20.0,65.6,64.0,10.0,10.0
2,Bolivia,Americas,173,30,42.3,58.8,52.9,68.8,70.4,15.0,40.0
3,Ecuador,Americas,170,29,46.9,54.1,48.2,73.5,66.4,35.0,40.0
4,Suriname,Americas,165,28,48.1,48.3,73.5,56.0,64.6,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...
174,Côte d'Ivoire,Sub-Saharan Africa,78,5,62.4,61.0,52.5,74.2,73.6,75.0,50.0
175,Cabo Verde,Sub-Saharan Africa,73,4,63.1,65.2,55.7,84.1,68.2,80.0,60.0
176,Botswana,Sub-Saharan Africa,36,3,69.5,68.7,68.2,78.8,83.8,65.0,70.0
177,Rwanda,Sub-Saharan Africa,32,2,71.1,56.2,82.2,76.1,70.4,60.0,40.0
178,Mauritius,Sub-Saharan Africa,25,1,73.0,79.8,60.8,79.4,88.4,80.0,70.0

In [42]:
region_df = freedoms_df.groupby("Region")["Country_Name"].count()
region_df

Region
Americas                        32
Asia-Pacific                    42
Europe                          44
Middle East and North Africa    14
Sub-Saharan Africa              47
Name: Country_Name, dtype: int64

In [47]:
freedoms_df.to_csv(r'Freedoms.csv')